.test {
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  background-size: contain;
  background-position: center;
  height: 100vh;
  overflow: auto;
  width: 100%;
}

.fullName {
  color: gray;
  display: flex;
  justify-content: center;
  width: 100vw;
  font-size: 50px;
  position: relative;
  top: 50px;
}

.first {
  position: relative;
  right: 15px;
}

.suffix {
  position: relative;
  left: 15px;
}

.position {
  color: gray;
  display: flex;
  justify-content: center;
  width: 100vw;
  position: relative;
  top: 50px;
}

.aboutMe {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
  min-height: 100vh;
  width: 100vw;
  min-width: 100%;
  
}

img {
  height: 50vh;
  margin: 20px;
  border-radius: 20px;
}

.description {
  padding: 6px;
  height: 31vh;
  width: 65vh;
  text-align: justify;
  border-radius: 20px;
  color: white;
  margin-top: 50px;
}

.descriptionImg {
  height: 30px;
  width: 30px;
  margin: 5px;
}
